<footer class="footer">

   <div class="orange-line"></div>
   <div class="black-line"></div>

<p align="center">Search for projects or inventory</p>
    <div class="search-input">
        <input type="text" class="form-control" id="search" placeholder="Name or ID *"/>
    </div>

    <div class="orange-line"></div>
    <div class="black-line"></div>

</footer>