<footer class="footer">

   <div class="orange-line"></div>
   <div class="black-line"></div>

        <p align="center">Search for projects or inventory</p>

  <div class="search-input">
      {{!-- <form action="/search" method="GET" class="search-form"> --}}
       <form id="search-form">
         <input type="text" class="form-control" id="search" placeholder="Name or ID *"/>
         <button id="search-form">Search</button>
      </form>
   </div>

    <div class="orange-line"></div>
    <div class="black-line"></div>

</footer>

 <script src="/js/search.js"></script>