<header>

    <div id="search-bar">
        <ul>
        <li><a href="https://randysboothco.com/about-us/">ABOUT US</a></li>
            <li><a href="https://randysboothco.com/blog/">BLOG</a></li>
            <li><a href="#SEARCH">SEARCH</a></li>
            <li><a href="https://www.facebook.com/people/Randys-Booth-Co-Inc/100060608577098/"></a></li>
        </ul>
        </div>

         <nav>
            <a href="/images/randys-booth-logo.png">
              <img src="/images/randys-booth-logo.png" alt="Randy's Booth Co Logo">
            </a>
            
          <ul>
            <li><a href="https://randysboothco.com/">HOME</a></li>
            <li><a href="#PROJECTS">PROJECTS</a></li>
            <li><a href="/inventory-landing">INVENTORY</a></li>
            <li><a href="#LOG-IN">LOG IN</a></li>
          </ul>
        </nav>

</header>