{{> header}}

<div id="inventory-landing-container">
  <div class="inventory-landing-row">
    {{#each categories}}
    <div class="inventory-category-container text-center">
      <h1 id="category-name"><a href="/api/inventories/category?category={{id}}">{{category_name}}</a></h1>
    </div>
    {{/each}}
  </div>
</div>

{{> footer}}