{{> header}}

<div class="login-page-container"></div>
<div class="left-box"></div>
<div class="container-login">
  <div class="center-content">
    <h3>Please add your info to log in</h3>
    <div class="input-container">
      <form class="login-form">
        <input class="form-control" id="email-login" type="email" placeholder="Email *">
        <input class="form-control" id="password-login" type="password" placeholder="Password *">
        <button type="submit">Log In</button>
      </form>
    </div>
  </div>
</div>
</div>

<div class="container-login">
  <div class="center-content">
    <h3>Please add your info to sign up</h3>
    <div class="input-container">
      <form class="signup-form">
        {{!-- <input class="form-control" id="username-signup" type="text" placeholder="Username"> --}}
        <input class="form-control" id="email-signup" type="email" placeholder="Email *">
        <input class="form-control" id="password-signup" type="password" placeholder="Password *">
        <button id="sign-up-button" type="submit">Sign Up</button>

      </form>
    </div>
  </div>
</div>

<script src="/js/login.js"></script>

{{> footer}}